:root {
	--green: #1d6154;
	--brown: #93532f;
	--cream: #fffef8;
	--white: #ffffff;
	--black: #000000;
	--light-black: #3d3d3d;
}

body {
	font-family: "Work Sans";
	font-size: 14px;
}

.header,
.section,
.footer {
	max-width: 1140px;
	margin: auto;
}

.edition__mode__display {
	display: flex;
	justify-content: center;
	gap: 1em;
	background-color: var(--black);
	color: var(--white);
	padding: 20px;
	margin-bottom: 40px;
}

.section__title {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: var(--green)
	;
}

.hidden {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
}
.header__logo {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: var(--brown);
}
.header__logo__span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}
.header__nav__link__wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	list-style-type: none;
}
.header__nav__link {
	padding: 0 10px;
	font-size: 1em;
	color: var(--black);
	text-decoration: none;
	font-family: "Work Sans";
}
.header__nav__link:hover {
	color: var(--brown);
}
.header__nav__link__image {
	width: 22px;
}

.introduction {
	display: flex;
	align-items: center;
	max-width: 1140px;
	margin: auto;
	margin-bottom: 140px;
}
.introduction__figure {
	flex: 1;
}
.introduction__image {
	display: block;
	margin: auto;
	width: 80%;
}
.introduction__article {
	flex: 1;
}
.introduction__text {
	margin-bottom: 0.5em;
	font-size: 14px;
	font-family: "Work Sans";
	color: var(--light-black);
}

.filter__button,
.reset__button {
	border: 1px solid var(--green);
	background-color: var(--white);
	color: var(--green);
	border-radius: 60px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 5px 10px;
}
.filter__button:focus,
.reset__button:focus {
	background-color: var(--green);
	color: var(--white);
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery__image {
	width: 100%;
}

.contact {
	width: 50%;
	margin: auto;
}
.contact__title {
	margin-bottom: 20px;
}
.form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.form__input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form__label {
	margin: 2em 0 1em 0;
}
.contact__message__textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.contact__form__submit {
	font-family: "Syne";
	font-weight: 700;
	color: var(--white);
	background-color: var(--green);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.footer {
	background-color: var(--white);
}
.footer__nav__link__wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 1.5em 6em;
}
.footer__nav__link {
	font-family: "Work Sans";
	font-weight: 300;
	font-size: 14px;
}

.modal__image {
	width: 80px;
	height: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
